<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    Project: <%= f.text_field :name %>
  </div>
  
  <% f.fields_for :tasks do |task_form| %>
    Task: <%= task_form.text_field :name %><br />
    
    <% task_form.fields_for :assignments do |assignment_form| %>
      Assignment: <%= assignment_form.text_field :name %>
    <% end %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
